@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.money-count-text {
    font-size: 50px;
    color: #ffffff;
    top: 37.5%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.stat-tracker {
    color: #ffffff;
    font-size: 40px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    word-wrap: unset;
}

.factory-name {
    font-size: 60px;
    color: #ffffff;
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.progress-tracker {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 15%;
    top: 35%;
    font-family: "Roboto Mono", sans-serif;
    font-size: 25px;
    color: #ffffff;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: #ffffff;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    position: relative;
}

.closebtn {
    margin-left: 15px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #000000;
}

html {
    /*background-color: #000000;*/
    font-family: 'Roboto Mono', sans-serif;
}

@media (min-width: 480px) {
    html {
        zoom: 60%;
    }

    .stat-tracker {
        font-size: 30px;
        word-wrap: unset;
    }

    .factory-name {
        font-size: 35px;
    }

    .progress-tracker {
        left: 50%;
        top: 65%;
    }
}

@media (min-width: 1090px) {
    html {
        zoom: 100%;
    }

    .progress-tracker {
        left: 15%;
        top: 35%;
    }
}

@media (max-width: 480px) {
    html {
        zoom: 60%;
    }

    .stat-tracker {
        font-size: 25px;
        word-wrap: unset;
    }

    .factory-name {
        font-size: 30px;
    }

    .progress-tracker {
        left: 50%;
        top: 65%;
    }
}

@media (max-width: 1920px) {
    html {
        zoom: 100%;
    }

    .progress-tracker {
        left: 50%;
        top: 65%;
    }
}

@media (min-width: 280px) {
    html {
        zoom: 75%;
    }

    .progress-tracker {
        left: 50%;
        top: 69%;
    }
}

@media (min-height: 550px) {
    html {
        zoom: 75%;
    }

    .progress-tracker {
        left: 50%;
        top: 80%;
    }
}

@media (min-width: 1920px) {
    html {
        zoom: 100%;
    }

    .progress-tracker {
        left: 15%;
        top: 35%;
    }
}

button {
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    border: 0.67rem solid transparent;
    border-radius: 35px;
    text-decoration: none;
    position: relative;
}

.purchaseable {
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    border: 0.67rem solid transparent;
    border-radius: 35px;
    text-decoration: none;
    background-color: lime;
    display: inline-flex;
}

.expensive {
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    border: 0.67rem solid transparent;
    border-radius: 35px;
    text-decoration: none;
    background-color: red;
    display: inline-flex;
}

.expensive:hover {
    background-color: #cf0202;
}

.purchaseable:hover {
    background-color: #03e20f;
}

button:hover {
    cursor: pointer !important;
}

.interval-counter {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 15%;
    top: 35%;
    font-family: "Roboto Mono", sans-serif;
    font-size: 25px;
    color: #ffffff;
}


html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}



html,
body {
    width: 100%;
    height: 100%;
    background: #111;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}





#particles-js {
    width: 100%;
    height: 100%;
    background-color: #4bd3e6;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
}


.festive-box div {
    animation: color-change 2s infinite;
    font-weight: 900;
}

@keyframes color-change {
    0% {
        color: red;
    }

    50% {
        color: green;
    }

    100% {
        color: red;
    }
}