@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.money-count-text {
    font-size: 50px;
    color: white;
    top: 37.5%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.stat-tracker {
    color: white;
    font-size: 40px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    word-wrap: unset;
}
.factory-name {
    font-size: 60px;
    color: white;
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.progress-tracker {
    position:absolute;
    transform: translate(-50%, -50%);
    left:8%;
    top:35%;
    font-family: "Roboto Mono", sans-serif;
    font-size: 25px;
    color:white;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }
  

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  

.closebtn:hover {
    color: black;
}

html {
    background-color: black;
    font-family: 'Roboto Mono', sans-serif;
}
@media (min-width: 480px) {
    html {
        zoom: 60%;
    }
    .stat-tracker {
        font-size: 30px;
        word-wrap: unset;
    }
    .factory-name {
        font-size: 35px;
    }
}
@media (min-width: 1090px) {
    html {
        zoom:100%;
    }
}
@media (max-width: 480px) {
    html {
        zoom: 60%;
    }
    .stat-tracker {
        font-size: 25px;
        word-wrap: unset;
    }
    .factory-name {
        font-size: 30px;
    }
  }
button {
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    backface-visibility: hidden;
    border: 0.67rem solid transparent;
    border-radius: 35px;
    text-decoration: none;
}

button:hover {
    cursor: pointer !important;
}
